<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AgroMaquinaria - Inicio</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <a th:href="@{/}">Inicio</a>
        <a th:href="@{/busqueda}">Buscar Maquinaria</a>
        <a th:href="@{/perfil}">Mi Perfil (Privado)</a> 
        <a th:href="@{/login}">Iniciar Sesión</a>
    </header>
    <h1>Bienvenido a AgroMaquinaria</h1>
    <p>Publicación de información relacionada a la agricultura, eventos, y avisos destacados de arriendo de maquinaria.</p>
    
    </body>
</html>